body {
    background-image:url("image/background.png") ;
    background-repeat: no-repeat;
    background-size:cover;
}
span#testCheck {
    background-color: antiquewhite;
    font-size: 200%;
}   
button#done {
    font-size: 4em;
    position: relative;
    top: 73vh;
    left: 87.1vw;
    background-color: greenyellow;
}